<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Student Management System</title>

</head>
<body style="background-color: rgb(80, 80, 80)">
  {%if messages%}
  {%for message in messages%}
  <div class="alert alert-success alert-dismissible fade show px-4" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

  <p {%if message.tags%} class=""{%endif%}>  {{message}}</p>
  </div>
  {% endfor %}
  {% endif %}
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark"> 
        <div class="container-fluid">
          <a class="navbar-brand" href="#">SMS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/getData">View all Students</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/simple_upload">Upload Excel File</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/AddStudent">AddStudent</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Searches
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/Search">Search Student by Name</a></li>
                  <li><a class="dropdown-item" href="/SearchByBForm">Search Student by B.Form No.</a></li>
                  <li><a class="dropdown-item" href="/SearchByStatus">Search Student by Status</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>